.main,
.mainDark {
    padding: 0 2rem;
    display: flex;
    min-height: 25vh;
    align-items: center;
    display: flex;
    h1 {
        margin: 0;
    }
}

.main {
    background: var(--color-white);
    transition: var(--transition);
    border-bottom: 1px solid gainsboro;
}

.mainDark {
    background: var(--dark-background-secondary);
    transition: var(--transition);
    color: var(--dark-headline);
    border-bottom: 1px solid var(--dark-background-secondary);
}

.text, .illustration {
    flex: 1;
}
.illustration {
    width: 50%;
}

