.main, .mainDark {
    padding: 2rem;
    display: flex;
    h1 {
        margin: 0;
    }
}

.main {
    background: var(--color-gray2);
    transition: var(--transition);
}

.mainDark {
    background: var(--dark-lightgray);
    transition: var(--transition);
    color: var(--dark-accent)
}

.text {
    flex: 1;
}

.technologies {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;
    svg {
        height: 2.5rem;
        width: 2.5rem;
    }
}