.main,
.mainDark {
    padding: 2rem;
    display: flex;
    min-height: 25vh;
    align-items: center;

    h1 {
        margin: 0;
    }
}

.main {
    background: var(--color-white);
    transition: var(--transition);
    border-bottom: 1px solid gainsboro;
}

.mainDark {
    background: var(--dark-background-secondary);
    transition: var(--transition);
    color: var(--dark-accent);
    // border-bottom: 1px solid var(--dark-headline);
}

.text {
    flex: 1;
}

.technologies {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-evenly;

    svg {
        height: 2.5rem;
        width: 2.5rem;
    }
}