.nav,
.navDark {
    
    height: 5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    background: var(--color-purple);
    color: var(--color-white);
    transition: var(--transition);
}

.navDark {
    background: var(--dark-black);
    color: var(--dark-accent);
    transition: var(--transition);
}

.left {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 920px) {
    .nav code {
        display: none;
    }
}