.nav,
.navDark {
    height: 5rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin: 0 .5rem 0 .5rem;
    }


}

.nav {
    background: var(--color-purple);
    color: var(--color-white);
    transition: var(--transition);
}

.navDark {
    background: var(--dark-black);
    color: var(--dark-accent);
    transition: var(--transition);
}

.left {
    display: flex;
    align-items: center;
}


@media only screen and (min-width: 921px) {
    .hamburger {
        display: none;
    }
}

@media only screen and (max-width: 920px) {

    .nav code,
    .navDark code {
        display: none;
    }

    .nav h1,
    .navDark h1 {
        font-size: 3rem;
    }

    .hamburger {
        display: inline-block;
        position: relative;
        font-size: 3rem;
    }

    .switch {
        height: 3rem;
        width: 3rem;
    }
}