.navBar,
.navBarDark {
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    a:hover {
        text-decoration: underline;
    }

    h1 {
        margin: 0 1rem 0 2rem;
    }

    button {
        width: 11rem;
        height: 3rem;
    }
}


.navBar {
    background: var(--light-background);
    transition: var(--transition);
    border-bottom: 1px solid var(--light-headline);
    button {
        background: var(--light-tertiary);
        color: var(--light-button-text);
    }
}

.navBarDark {
    background: var(--dark-gray);
    color: var(--dark-accent);
    transition: var(--transition);

    button {
        background: var(--dark-purple);
        color: white;
    }
}

button {
    height: 100%;
    width: 15rem;

    :hover {
        text-decoration: underline;
    }
}

.left,
.right {
    flex: 1;
    display: flex;
}

.left {
    justify-content: space-evenly;

}

.right {
    justify-content: flex-end;
    padding-right: 2rem;
}

@media only screen and (max-width: 1250px) {

    .navBar,
    .navBarDark {
        display: none;
    }

}