.navBar,
.navBarDark {
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
    a:hover {
        text-decoration: underline;
    }

    h1 {
        margin: 0 1rem 0 2rem;
    }
}

.navBar {
    background: var(--color-gray1);
    transition: var(--transition);

    button {
        width: 11rem;
        background: var(--color-green);
    }
}

.navBarDark {
    background: var(--dark-gray);
    color: var(--dark-accent);
    transition: var(--transition);

    button {
        width: 11rem;
        background: var(--dark-purple);
        color: white;
    }
}

button {
    height: 100%;
    width: 15rem;

    :hover {
        text-decoration: underline;
    }
}

.left,
.right {
    flex: 1;
    display: flex;
}

.left {
    justify-content: space-evenly;

}

.right {
    justify-content: flex-end;
    padding-right: 2rem;
}

@media only screen and (max-width: 1250px) {
    .navBar, .navBarDark {
        display: none;
    }

}