.project, .projectDark {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    h1 {
        margin: 1rem;
    }
    img {
        width: 25rem;
    }
}

.project {
    border-top: 1px solid gainsboro;
    h1 {
        color: var(--color-gray);
        transition: var(--transition);
    }
}

.projectDark {
    background: var(--dark-background-secondary);
    transition: var(--transition);
    h1 {
        color: var(--dark-headline);
        transition: var(--transition);
    }   
    p, h5 {
        color: var(--dark-paragraph);
    }
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.img {
    display: flex;
    flex: 1;
    justify-content: center;
}

.textContainer {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.text {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

@media only screen and (max-width: 1250px) {
    .container, .darkContainer {
        flex-direction: column;
        margin: 0 auto;
        justify-content: flex-end;
        h1 {
            margin: 1rem 0 0 0;
        }
    }
    .text {
        padding: 2rem;
    }
}