.buttonContainer {
    display: flex;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8rem;
        height: 3rem;
        margin: 2rem;

    } &:hover {
        text-decoration: underline;
    }
}

.code {

    background: var(--color-green);
    color: white;
}

.live {
    color: var(--color-green);
    border: 1px solid var(--color-green);
    background-color: white;

}