.selectBar {
    height: 5rem;
    border-bottom: 1px solid #DEE1E1;
    background: #dfdfdf;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    a:hover {
        text-decoration: underline;
    }
    h1 {
        margin: 0;
    }
}

button {
    height: 100%;
    width: 15rem;
    :hover {
        text-decoration: underline;
    }
}

.left,
.right {
    flex: 1;
    display: flex;
}

.left {
    justify-content: space-evenly;
    
}

.right {
    justify-content: flex-end;
    padding-right: 2rem;
    button {
        width: 11rem;
    }
}