.main,
.mainDark {
    height: 20%;
    width: 80%;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
        background: gainsboro;
        text-decoration: underline;
        transition: var(--transition);

    }
}

.main {
    border-left: 15px solid var(--color-purple);
    background: var(--color-gray2);
    &:hover {
        border-left: 15px solid var(--color-teal);
        transition: var(--transition);

    }
}

.mainDark {
    background: var(--color-gray2);
    border-left: 15px solid var(--color-pink);
    &:hover {
        border-left: 15px solid var(--color-purple);
        transition: var(--transition);

    }
}