.main {
    height: 14rem;
    width: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        height: 4rem;
        width: 4rem;
    }
}