.main {
    background: #F3F4F4;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cards {
    justify-content: space-between;
    padding: 6rem 0;
    display: flex;
}